@model Domain.FlowPackage.Flow

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Start linaire flow @Model.FlowId</h2>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="LiniareFlow" asp-action="getFirstQuestion" asp-route-flowId=@Model.FlowId >Test</a>
</li>
