@model Domain.FlowPackage.Flow
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Liniare Flow END</h2>


 <!-- Link currently goes to google , this needs to be changed to contact info page :) -->
<img src="@Url.Action("Generate", "QrCode", new { data = "google.com" })" alt="QR Code" />
