@use '../variables' as variables;
.main-container {
  transition: margin-left variables.$margin-transition-time ease;
  padding: variables.$default-padding 2rem variables.$default-padding 1rem;

  .list-group {
    width: 100%; 
    .list-group-item {
      display: flex; 
      align-items: center; 
      width: 100%; 
      padding: 10px; 
      text-decoration: none;
      color: variables.$text-color;
      background-color: rgba(variables.$background-color, 0.4);

      .img-thumbnail {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-right: 15px; 
      }

      &:last-child {
        margin-bottom: 0; 
      }
    }
  }
  
  form {
    background-color: rgba(variables.$background-color, 0.4);
    border: variables.$card-border;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: variables.$card-border-radius;
    margin-bottom: variables.$default-margin;
    backdrop-filter: blur(5px);
    overflow: hidden;

    .form-label {
      color: variables.$text-color;
      font-weight: bold;
    }
    .input-styling{
      background-color: rgba(variables.$light-color, 0.5);
      border: variables.$card-border;
      border-radius: variables.$card-border-radius;
      box-shadow: none;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      color: variables.$text-color;

      &:focus {
        border-color: variables.$primary-color;
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba(variables.$primary-color, 0.25);
      }
    }

    .form-control {
      background-color: rgba(variables.$light-color, 0.5); 
      border: variables.$card-border;
      border-radius: variables.$card-border-radius;
      box-shadow: none;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      color: variables.$text-color;

      &:focus {
        border-color: variables.$primary-color;
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba(variables.$primary-color, 0.25);
      }
    }

    textarea.form-control {
      height: 150px; 
    }

    .btn-primary {
      background-color: variables.$primary-color;
      border-color: darken(variables.$primary-color, 5%);
      transition: background-color variables.$default-transition-time, border-color variables.$default-transition-time;

      &:hover {
        background-color: darken(variables.$primary-color, 10%);
        border-color: darken(variables.$primary-color, 10%);
      }
    }

    .btn-secondary {
      background-color: variables.$btn-delete;
      border-color: darken(variables.$btn-delete, 5%);
      transition: background-color variables.$default-transition-time, border-color variables.$default-transition-time;

      &:hover {
        background-color: darken(variables.$btn-delete, 10%);
        border-color: darken(variables.$btn-delete, 10%);
      }
    }

    button {
      margin-right: variables.$default-margin;

      &:last-child {
        margin-right: 0;
      }
    }
  }
  .btn-outline-danger{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  h2 {
    font-weight: bold;
  }

  @media (min-width: variables.$tablet-screen) and (max-width: variables.$large-screen) {
    margin-left: 250px;
  }

  @media (min-width: variables.$large-screen) {
    margin-left: 0;
  }

  .form-check-input:checked {
    background-color: rgba(variables.$primary-color, 0.4);
    border-color: variables.$transparent-border;
    box-shadow: none;
  }

  .form-check-input {
    background-color: rgba(variables.$background-color, 0.4);
    border-color: variables.$transparent-border;
    box-shadow: none;
    transition: background-color variables.$default-transition-time, border-color variables.$default-transition-time;
  }

  .row {
    margin-right: 0;
    margin-left: 0;
  }
  
}

@keyframes gradientAnimation {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animated-background {
  background: linear-gradient(-45deg, variables.$primary-color, variables.$secondary-gradient-colors);
  background-size: 400% 400%;
  animation: gradientAnimation 20s ease infinite;
}

.card {
  background-color: rgba(variables.$background-color, 0.4);
  border: variables.$card-border;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: variables.$card-border-radius;
  margin-bottom: variables.$default-margin;
  backdrop-filter: blur(5px);
  overflow: hidden;

  &:hover {
    background-color: rgba(variables.$background-color, 0.7);
  }

  .card-title {
    color: variables.$text-color;
    font-weight: bold;
  }

  .card-text {
    color: darken(variables.$text-color, 20%);
  }

  .badge {
    background-color: variables.$primary-color;
  }
  button{
    margin: 1px;
  }

  .creationDate {
    background: none;
    color: variables.$text-color;
  }

}

.question-container{
  background-color: rgba(variables.$background-color, 0.4);
  border: variables.$card-border;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: variables.$card-border-radius;
  margin-bottom: variables.$default-margin;
  backdrop-filter: blur(5px);
  overflow: hidden;
  padding: 10px;
  
}
