#projects-container {
  padding: 2rem;
  

  .card {
    background-color: $background-color;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    min-width: 250px;
    max-width: 300px;
    border-radius: 10px; 

    .card-title {
      color: $text-color;
    }

    .card-text {
      color: darken($text-color, 20%);
    }

    .badge {
        background-color: $status-active;
    }

    a {
        background-color: $primary-color;
    }
  }


  .edit-project-button {
    background-color: $btn-edit;
    color: $text-color;
    border-color: $text-color;

    &:hover {
      background-color: darken($btn-edit, 10%);
    }
  }

  .btn-outline-danger {
    color: $btn-delete;
    border-color: $btn-delete;

    &:hover {
      color: $background-color;
      background-color: $btn-delete;
    }
  }
}
