.main-container {
  transition: margin-left $margin-transition-time ease;
  padding: $default-padding 2rem $default-padding 1rem;

  .list-group {
    width: 100%; 
    .list-group-item {
      display: flex; 
      align-items: center; 
      width: 100%; 
      padding: 10px; 
      text-decoration: none;
      color: $text-color;
      background-color: rgba($background-color, 0.4);

      .img-thumbnail {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-right: 15px; 
      }

      &:last-child {
        margin-bottom: 0; 
      }
    }
  }
  



  form {
    background-color: rgba($background-color, 0.4);
    border: $card-border;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: $card-border-radius;
    margin-bottom: $default-margin;
    backdrop-filter: blur(5px);
    overflow: hidden;

    .form-label {
      color: $text-color;
      font-weight: bold;
    }
    .input-styling{
      background-color: rgba($light-color, 0.5);
      border: $card-border;
      border-radius: $card-border-radius;
      box-shadow: none;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      color: $text-color;

      &:focus {
        border-color: $primary-color;
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.25);
      }
    }

    .form-control {
      background-color: rgba($light-color, 0.5); 
      border: $card-border;
      border-radius: $card-border-radius;
      box-shadow: none;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      color: $text-color;

      &:focus {
        border-color: $primary-color;
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.25);
      }
    }

    textarea.form-control {
      height: 150px; 
    }

    .btn-primary {
      background-color: $primary-color;
      border-color: darken($primary-color, 5%);
      transition: background-color $default-transition-time, border-color $default-transition-time;

      &:hover {
        background-color: darken($primary-color, 10%);
        border-color: darken($primary-color, 10%);
      }
    }

    .btn-secondary {
      background-color: $btn-delete;
      border-color: darken($btn-delete, 5%);
      transition: background-color $default-transition-time, border-color $default-transition-time;

      &:hover {
        background-color: darken($btn-delete, 10%);
        border-color: darken($btn-delete, 10%);
      }
    }

    button {
      margin-right: $default-margin;

      &:last-child {
        margin-right: 0;
      }
    }
  }
  .btn-outline-danger{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  h2 {
    font-weight: bold;
  }

  @media (min-width: $tablet-screen) and (max-width: $large-screen) {
    margin-left: 250px;
  }

  @media (min-width: $large-screen) {
    margin-left: 0;
  }

  .form-check-input:checked {
    background-color: rgba($primary-color, 0.4);
    border-color: $transparent-border;
    box-shadow: none;
  }

  .form-check-input {
    background-color: rgba($background-color, 0.4);
    border-color: $transparent-border;
    box-shadow: none;
    transition: background-color $default-transition-time, border-color $default-transition-time;
  }

  .row {
    margin-right: 0;
    margin-left: 0;
  }
  

  .card {
    background-color: rgba($background-color, 0.4);
    border: $card-border;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: $card-border-radius;
    margin-bottom: $default-margin;
    backdrop-filter: blur(5px);
    overflow: hidden;

    &:hover {
      background-color: rgba($background-color, 0.7);
    }

    .card-title {
      color: $text-color;
      font-weight: bold;
    }

    .card-text {
      color: darken($text-color, 20%);
    }

    .badge {
      background-color: $primary-color;
    }
    button{
      margin: 1px;
    }

    .creationDate {
      background: none;
      color: $text-color;
    }
    
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animated-background {
  background: linear-gradient(-45deg, $primary-color, $secondary-gradient-colors);
  background-size: 400% 400%;
  animation: gradientAnimation 20s ease infinite;
}
