@import '../variables';
.questionContainer {
  background-color: rgba($background-color, 0.4);
   font-family: "Outfit", sans-serif;
   text-align: center;
  height: 100%;
  
   form {
     border-radius: $card-border-radius;
     margin-bottom: $default-margin;
     overflow: hidden;
 
     .form-label {
       color: $text-color;
       font-weight: bold;
     }
 
     .form-control {
       background-color: rgba($light-color, 0.5); // Light color with opacity for glassy effect
       border: $card-border;
       border-radius: $card-border-radius;
       box-shadow: none;
       padding: 0.5rem 1rem;
       font-size: 1rem;
       color: $text-color;
 
       &:focus {
         border-color: $primary-color;
         outline: none;
         box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.25);
       }
     }
 
     textarea.form-control {
       height: 150px; // Specific height for textarea
     }
   }
 
   .btn-answer {
     padding: 20px 30px;
     background-color: #f0f0f0;
     border: none;
     box-shadow: 0 0 0 2px $text-color;
     border-radius: $card-border-radius;
     .bi{
       margin: $default-margin;
     }
   }
 
   // Kleuren voor de knoppen in de eerste kolom
   $colorsFirstColumn: ($btn-color-1, $btn-color-2, $btn-color-3);
 
   // Kleuren voor de knoppen in de tweede kolom
   $colorsSecondColumn: ($btn-color-4, $btn-color-5, $btn-color-6);
  
  $colorsRange: ($btn-color-1, $btn-color-2, $btn-color-3, $btn-color-4, $btn-color-5, $btn-color-6);
 
   // Loop over de knoppen in de eerste kolom en pas de achtergrondkleur toe op basis van de positie
   @for $i from 1 through length($colorsFirstColumn) {
     .left-column .btn-answer:nth-child(#{$i}) {
       background-color: nth($colorsFirstColumn, $i);
     }
   }
 
   // Loop over de knoppen in de tweede kolom en pas de achtergrondkleur toe op basis van de positie
   @for $i from 1 through length($colorsSecondColumn) {
     .right-column .btn-answer:nth-child(#{$i}) {
       background-color: nth($colorsSecondColumn, $i);
     }
   }
  @for $i from 1 through length($colorsRange) {
     .answer-range:nth-child(#{$i}) {
      background-color: nth($colorsRange, $i);
    }
  }
  .answer-range{
    border: none;
    box-shadow: 0 0 0 2px $text-color;
    border-radius: $card-border-radius;
    .bi{
      margin: $default-margin;
    }
  }
  h1{
    font-size: 1.5rem;
  }
  
  .slider-container {
    width: 800px;
    margin: 50px auto;
  }
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 20px;
    background: $secondary-color;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: $text-color;
    cursor: pointer;
    border: 2px solid white; /* Voeg een witte rand toe aan de thumb */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Voeg een schaduw toe aan de thumb */
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: $text-color;
    cursor: pointer;
    border: 2px solid $light-color; /* Voeg een witte rand toe aan de thumb */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Voeg een schaduw toe aan de thumb */
  }
  .slider-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .selected {
    background-color: $background-color !important; /* pas aan naar jouw voorkeur */
    font-weight: bold;
    border: 10px black;/* of elke andere stijl die je wilt toevoegen */
  }

  .container:has(.progress){
    position: absolute;
    bottom: 40px; /* Afstand vanaf de onderkant van .container1 */
    width: 100%;
  }
  
  @media (max-width: $tablet-screen) {
    .container-information-view{
    form{
      overflow: scroll;
    }
    }
  }

  @media (min-width: $large-screen) {
    margin-left: 0;
  }

}

.timer-container{
  display: none;
}