@use '../variables' as variables;

.question-container {
  background-color: rgba(variables.$background-color, 0.4);
  font-family: "Outfit", sans-serif;
  text-align: center;
  height: 100%;

  #question-id {
    display: none;
  }

  .img-responsive {
    width: 720px;
    height: 405px;
  }

  form {
    border-radius: variables.$card-border-radius;
    margin-bottom: variables.$default-margin;
    overflow: hidden;

    .form-label {
      color: variables.$text-color;
      font-weight: bold;
    }

    .form-control {
      background-color: rgba(variables.$light-color, 0.5); // Light color with opacity for glassy effect
      border: variables.$card-border;
      border-radius: variables.$card-border-radius;
      box-shadow: none;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      color: variables.$text-color;

      &:focus {
        border-color: variables.$primary-color;
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba(variables.$primary-color, 0.25);
      }
    }

    textarea.form-control {
      height: 150px; // Specific height for textarea
    }
  }

  .btn-answer {
    padding: 20px 30px;
    background-color: #f0f0f0;
    border: none;
    box-shadow: 0 0 0 2px variables.$text-color;
    border-radius: variables.$card-border-radius;

    .bi {
      margin: variables.$default-margin;
    }
  }

  // Kleuren voor de knoppen in de eerste kolom
  $colors-first-column: (variables.$btn-color-1, variables.$btn-color-2, variables.$btn-color-3);

  // Kleuren voor de knoppen in de tweede kolom
  $colors-second-column: (variables.$btn-color-4, variables.$btn-color-5, variables.$btn-color-6);

  // Kleuren voor range
  $colors-range: (variables.$btn-color-1, variables.$btn-color-4, variables.$btn-color-2, variables.$btn-color-5, variables.$btn-color-3, variables.$btn-color-6);

  // Loop over de knoppen in de eerste kolom en pas de achtergrondkleur toe op basis van de positie
  @for $i from 1 through length($colors-first-column) {
    .left-column .btn-answer:nth-child(#{$i}) {
      background-color: nth($colors-first-column, $i);
    }
  }

  // Loop over de knoppen in de tweede kolom en pas de achtergrondkleur toe op basis van de positie
  @for $i from 1 through length($colors-second-column) {
    .right-column .btn-answer:nth-child(#{$i}) {
      background-color: nth($colors-second-column, $i);
    }
  }
  
  // Loop over de knoppen in de range en pas de achtergrondkleur toe op basis van de positie
  @for $i from 1 through length($colors-range) {
    .answer-range:nth-child(#{$i}) {
      background-color: nth($colors-range, $i);
    }
  }

  .answer-range {
    border: none;
    box-shadow: 0 0 0 2px variables.$text-color;
    border-radius: variables.$card-border-radius;

    .bi {
      margin: variables.$default-margin;
    }
  }

  h1 {
    font-size: 1.5rem;
  }

  .slider-container {
    width: 800px;
    margin: 50px auto;
  }

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 20px;
    background: variables.$secondary-color;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: variables.$text-color;
    cursor: pointer;
    border: 2px solid white; /* Voeg een witte rand toe aan de thumb */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Voeg een schaduw toe aan de thumb */
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: variables.$text-color;
    cursor: pointer;
    border: 2px solid variables.$light-color; /* Voeg een witte rand toe aan de thumb */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Voeg een schaduw toe aan de thumb */
  }

  .slider-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .selected {
    background-color: variables.$background-color !important; /* pas aan naar jouw voorkeur */
    font-weight: bold;
    border: 10px black; /* of elke andere stijl die je wilt toevoegen */
  }

  .container:has(.progress) {
    position: absolute;
    bottom: 40px; /* Afstand vanaf de onderkant van .container1 */
    width: 100%;
  }

  @media (max-width: variables.$tablet-screen) {
    .container-information-view {
      form {
        overflow: scroll;
      }
    }
  }

  @media (min-width: variables.$large-screen) {
    margin-left: 0;
  }
}

.hidden {
  display: none;
}

.container-circular-wait-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.myloader {
  width: 48px;
  height: 48px;
  position: relative;
}

.myloader:before {
  content: '';
  width: 48px;
  height: 5px;
  background: variables.$shadow-purple;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.myloader:after {
  content: '';
  width: 100%;
  height: 100%;
  background: variables.$status-active;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {

  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}