
@model PhygitalTool.Domain.FlowPackage.Flow
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Liniare Flow END</h2>

@{
    var scheme = Context.Request.Scheme;
    var host = Context.Request.Host.ToString(); 
    var actionPath = Url.Action("Index", "ContactInformation", new { id = Model.FlowId});

    var fullUrl = $"{scheme}://{host}{actionPath}";
}

<a class="btn btn-outline-secondary btn-block" asp-area=""
   asp-controller="Home"
   asp-action="Index">
    Terug naar de home pagina
</a>

<p>Scan de QR code om je contactgegevens achter te laten</p>

<img src="@Url.Action("Generate", "QrCode", new { data = fullUrl, width = 500, height = 500 })" alt="QR Code" style="width:500px; height:500px;" />

