
@using PhygitalTool.Domain.Util
@using PhygitalTool.Web.Resources
@using Microsoft.Extensions.Localization
@model PhygitalTool.Domain.FlowPackage.Flow
@inject IStringLocalizer<ResourcesFlow> Localizer
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@{
    var culture = Model.Language switch
    {
        Language.Dutch => "nl",
        Language.French => "fr",
        Language.German => "de",
        _ => "en"
        };
    System.Globalization.CultureInfo.CurrentCulture = new System.Globalization.CultureInfo(culture);
    System.Globalization.CultureInfo.CurrentUICulture = new System.Globalization.CultureInfo(culture);
}

<h2>@Localizer[ResourcesFlow.EndLinear]</h2>

@{
    var scheme = Context.Request.Scheme;
    var host = Context.Request.Host.ToString(); 
    var actionPath = Url.Action("Index", "ContactInformation", new { id = Model.FlowId});

    var fullUrl = $"{scheme}://{host}{actionPath}";
}

<a class="btn btn-outline-secondary btn-block" asp-area=""
   asp-controller="Home"
   asp-action="Index">
   @Localizer[ResourcesFlow.BackToHome]
</a>

<p>@Localizer[ResourcesFlow.ScanCode]</p>

<img src="@Url.Action("Generate", "QrCode", new { data = fullUrl, width = 500, height = 500 })" alt="QR Code" style="width:500px; height:500px;" />

