

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Wacht even tot de circulaire flow gestart wordt</h2>
<p id="current_flow"></p>

@section Scripts
{
    <script id="questionPage-script" src="~/dist/hubConnection.entry.js" defer="defer" ></script>
    <script id="questionPage-script" src="~/dist/notes.entry.js" defer="defer" ></script>
}