@use '../variables' as variables;
.background-contract-form {
  background-color: variables.$background-color;
  padding: 20px;
  margin: 0 auto;
  font-family: "Outfit", sans-serif;

  h2 {
    color: variables.$text-color;
    margin-bottom: 20px;
    text-align: center;
    
  }

  form {
    background-color: #fff;
    padding: 20px;
    border-radius: variables.$border-radius;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px; 
    margin: 0 auto;
  }

  .form-label {
    color: variables.$text-color;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-control {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
    display: block;
    width: 100%; 
    padding: 8px 0; 
    font-size: 16px; 
    color: #000;
    background-color: transparent; 
    outline: none; 
  }

  .form-control:focus {
    border-bottom: 2px solid #000; 
  }


  .btn-primary {
    background-color: variables.$btn-color-1;
    border: 10px variables.$text-color;
    padding: 10px 20px;
    color: variables.$text-color;
    border-radius: variables.$border-radius;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
  }

  .text-danger {
    color: red; // Display validation errors in red
  }
}

