@model PhygitalTool.Domain.Projects.SubTheme

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

@foreach (var flow in Model.Flows)
{
    <div class="p-2">
        <a class="btn btn-outline-primary"
           asp-controller="SubTheme"
           asp-action="ShowSubThemeInformation"
           asp-route-flowId="@flow.FlowId">
            @flow.FlowDescription (@flow.FlowType)
        </a>
    </div>
}