@model PhygitalTool.Domain.Projects.Project

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<h2>Resultaten voor @Model.ProjectName</h2>

<div id="results-information-container" data-project-id="@Model.ProjectId"></div>
<div id="results-container" data-project-id="@Model.ProjectId"></div>


@section Scripts
{
    <script id="resultsPage-script" src="~/dist/results.entry.js" defer="defer"></script>
}