@model PhygitalTool.Domain.Projects.Project

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<h2>Resultaten voor @Model.ProjectName</h2>
<div class="container-fluid">
    <div class="row">
        
    </div>
</div>
<div id="results-container" data-project-id="@Model.ProjectId"></div>
<button type="button" style="position: fixed; bottom: 20px; right: 20px; background-color: purple; color: white; border-radius: 50%; width: 50px; height: 50px; display: flex; align-items: center; justify-content: center; border: none;" id="add-Flow-button">+</button>

@section Scripts
{<script id="results" src="~/dist/results.entry.js" defer="defer" ></script>
}

