@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}



<div class="container mt-5">
    <div class="text-center">
        <partial name="_LoginPartial"></partial>
        <ul class="list-unstyled">
            @if (User.Identity?.IsAuthenticated ?? false)
            {
                <li class="nav-item mb-2">
                    <a class="btn btn-outline-primary btn-block" asp-area="" asp-controller="AdminPlatform" asp-action="index">Admin Platform</a>
                </li>
                <li class="nav-item mb-2">
                    <a class="btn btn-outline-primary btn-block" asp-area="" asp-controller="BackOffice" asp-action="Index">Backoffice</a>
                </li>
            }

            <li class="nav-item mb-2">
                <a class="btn btn-outline-secondary btn-block"
                asp-controller="SubTheme"
                asp-action="ShowSubThemeSelection"
                asp-route-mainThemeId="1">
                    MainTheme1
                </a>
            </li>
            <li class="nav-item mb-2">
                <a class="btn btn-outline-secondary btn-block"
                   asp-controller="SubTheme"
                   asp-action="ShowSubThemeInformation"
                   asp-route-flowId="2">
                    Circulair flow doorlopen
                </a>
            </li>
            <li class="nav-item mb-2">
                <a class="btn btn-outline-secondary btn-block"
                   asp-controller="UserForm"
                   asp-action="Index"
                >
                    GebruikersPlatform
                </a>
            </li>
            <li class="nav-item mb-2">
                <a class="btn btn-outline-secondary btn-block"
                   asp-controller="Notes"
                   asp-action="Index"
                >
                    Maak notities
                </a>
            </li>
            <li class="nav-item mb-2">
                <a class="btn btn-outline-secondary btn-block"
                    asp-controller="Supervisors"
                   asp-action="ShowSupervisorScreen"
                   asp-route-supervisorId="@userId">
                    Supervisor platform (flow opstarten)
                </a>
            </li>
             <li class="nav-item mb-2">
                 <a class="btn btn-outline-secondary btn-block"
                     asp-controller="Supervisors"
                    asp-action="ShowStartScreen">
                     Startscherm voor gebruikers
                 </a>
             </li>

        </ul>
    </div>
</div>
