
    @if (User.Identity?.IsAuthenticated ?? false)
    {
            <a class="btn btn-danger" href="/Identity/Account/Logout">Afmelden</a>
             
    }
    else
    {
            <a class="btn btn-dark" href="/Identity/Account/Login">Aanmelden</a>
        
    }
