
@model PhygitalTool.Domain.FlowPackage.Question

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<script src="~/dist/site.entry.js" defer></script>
<h2>Test Voor de multiple Choice</h2>

<body>
<p>@Model.QuestionText</p>
<p>Duid 1 of meerdere antwoorden aan</p>
 @foreach (var answerPossibility in Model.AnswerPossibilities)
    {
        
            <button class="unselected answerButton" value="@answerPossibility.Description">@answerPossibility.Description</button>
        
        
    }

<form id="answersForm" method="post" action="/Question/SaveAnswersAndUserInput">
    <!-- Knop om het formulier in te dienen -->
    <button type="button" id="submitButton">Klaar</button>
</form>

<script>
function configureAnswerButtons() {
    var answerButtons = document.querySelectorAll('.answerButton');
    answerButtons.forEach(button => {
        button.addEventListener('click', function() {
            console.log("geklikt");
            button.classList.toggle('selected');
        });
    });
}

function configureSubmitButton() {
    var submitButton = document.getElementById('submitButton');
    submitButton.addEventListener('click', function() {
        console.log("true");
        // Array om geselecteerde antwoorden op te slaan
        var selectedAnswers = [];

        // Loop door alle antwoordknoppen om de geselecteerde antwoorden te vinden
        var answerButtons = document.querySelectorAll('.answerButton');
        answerButtons.forEach(button => {
            if (button.classList.contains('selected')) {
                console.log(button.value);
                selectedAnswers.push(button.value);
            }
        });

        // Voeg de array van geselecteerde antwoorden toe als een verborgen veld aan het formulier
        var hiddenInput = document.createElement('input');
        hiddenInput.type = 'hidden';
        hiddenInput.name = 'selectedAnswers'; // De naam moet overeenkomen met de parameter in de actiemethode van de controller
        hiddenInput.value = JSON.stringify(selectedAnswers);
        document.getElementById('answersForm').appendChild(hiddenInput);

        // Verzend het formulier
        document.getElementById('answersForm').submit();
    });
}

// Roep de functies aan om de knoppen te configureren
configureAnswerButtons();
configureSubmitButton();

    
  

    // Toegevoegde JavaScript om de antwoordknoppen te selecteren en te deselecteren
  
</script>

<style> .selected {
         background-color: red !important; /* pas aan naar jouw voorkeur */
         font-weight: bold; /* of elke andere stijl die je wilt toevoegen */
       }
</style>
</body>
