@model Domain.FlowPackage.Question

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Test for open question</h2>
<body>
<p>@Model.QuestionText</p>
<p>Vul u antwoord in</p>
<!--//TODO  Open vraag opslaan in de databank -->
<form method="post" action="/Question/SaveAnswerAndUserInput" id="answerForm">
    <input type="text" class="form-control" id="Answer" name="Answer" />
    <button type="submit" class="btn btn-primary" id="Submit" >Submit</button>
</form>
</body>


