
@model PhygitalTool.Domain.FlowPackage.Question

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Test Voor de single Choice</h2>

<body>
<p>@Model.QuestionText</p>
<p>Duid één antwoord aan</p>

<form method="post" action="/Question/SaveAnswerAndUserInput">
@foreach (var answerPossibility in Model.AnswerPossibilities)
{
     <button type="submit" name="selectedAnswer" value="@answerPossibility.Description">@answerPossibility.Description</button>
}
</form>
</body>
