@model PhygitalTool.Domain.Platform.Supervisor
<h2>Notities</h2>
<div class="notes-container">
    
</div>

@section Scripts {
    <script id="show-notes-script" src="~/dist/notes.entry.js" defer="defer" ></script>
}