@model PhygitalTool.Domain.FlowPackage.Question

<body class="animated-background">
<div class="row main-container">
     <div>
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Terug naar hoofdpagina</a>
        </div>
    <div class="question-info-container mt-3">
        <div class="mb-3 col-md-9">
            <form action="">
                <p id="current-question-id" class="hidden"></p>
                <p id="question-text" questionId="" class="text-body">Wacht tot er een vraag wordt getoond. </p>
                <label for="question-note" class="form-label">Notities</label>
                <textarea type="text" class="form-control" id="question-note">Maak hier je notities</textarea>
                <button id="submit-note" questionId="" class="btn-primary btn mt-3">Bewaar notitie</button>
            </form>

        </div>
    </div>
</div>
</body>

@section Scripts
{
    <script id="hub-connection-script" src="~/dist/hub_connection.entry.js" defer="defer" ></script>
    <script id="notes-script" src="~/dist/notes.entry.js" defer="defer" ></script>
}