<body class="animated-background">
<div class="row main-container">
    <div class="mb-3 col-md-9">
        <button class="btn-secondary btn" id="back-to-supervisor-screen">Terug naar hoofdpagina</button>
    </div>
    <div class="mb-3 col-md-9">
        <button id="pause-flow" class="btn-primary btn hidden">pauze</button>
        <button id="stop-flow"   class="btn-primary btn hidden">stop</button>
        <button id="resume-flow"   class="btn-primary btn hidden">hervat</button>
    </div>

    <div class="question-info-container mt-3">
        <div class="mb-3 col-md-9">
            <form action="">
                <p id="current-question-id" class="hidden"></p>
                <p id="question-text" questionId="" class="text-body">Wacht tot er een vraag wordt getoond. </p>
                <label for="question-note" class="form-label">Notities</label>
                <textarea type="text" class="form-control" id="question-note" placeholder="Maak hier je notities"></textarea>
                <button id="submit-note" questionId="" class="btn-primary btn mt-3">Bewaar notitie</button>
            </form>

        </div>
    </div>
</div>
</body>

@section Scripts
{
    <script id="hub-connection-script" src="~/dist/hub_connection.entry.js" defer="defer" ></script>
    <script id="notes-script" src="~/dist/notes.entry.js" defer="defer" ></script>
}